@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

:root {
  --color-1: rgb(22, 218, 146);
  --color-2: rgb(233, 63, 111);
  --color-3: rgb(34, 117, 165);

  --background-color-1: rgba(22, 219, 147, 0.3);
  --background-color-2: rgba(233, 63, 111, 0.3);
  --background-color-3: rgba(34, 116, 165, 0.3);

  --main-font: 'Fredoka One', cursive;
}

.App {
  font-family: var(--main-font);
  text-align: center;
  max-height: 100%;
  max-width: 100%;
  height: 100vh;
  width: 100vw;

  position: fixed;

  overflow: hidden;
}

.GameBoard {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  max-width: 1500px;
  max-height: 100%;
  padding-top: 30px;
  margin: auto;
}

.SetCard {
  display: flex;
  justify-content: center;
  align-content: center;

  margin: 1em;

  border-radius: 12px;
  border: 2px lightgrey solid;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 3px 8px;
  transition: 0.1s;

  width: 16em;
  height: 10em;

  max-width: 1500px;

  background: white;

  -webkit-animation: fadeInSlide 0.2s;
  animation: fadeInSlide 0.2s;
}

.spinOut {
  -webkit-animation: spinOut 0.5s;
  animation: spinOut 0.5s;
}

.SetCard:hover {
  transform: scale(1.1) rotate(3deg);
  box-shadow: var(--icon-rgb) 0px 3px 10px;
  transition: 0.1s;
  cursor: pointer;
}

.selected {
  box-shadow: var(--icon-rgb) 0px 3px 10px;
  border: solid var(--icon-rgb) 2px;
  transform: scale(1.1) rotate(3deg);
  transition: 0.1s;
}

.color-1 {
  --icon-rgb: var(--color-1);
  --icon-rgba: var(--background-color-1);
}

.color-2 {
  --icon-rgb: var(--color-2);
  --icon-rgba: var(--background-color-2);
}

.color-3 {
  --icon-rgb: var(--color-3);
  --icon-rgba: var(--background-color-3);
}

.fill-1 {
  background: var(--icon-rgba);
}

.fill-2 {
  background: repeating-linear-gradient(
    45deg,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0) 10px,
    var(--icon-rgba) 10px,
    var(--icon-rgba) 15px
  );
}

.fill-3 {
  background: rgba(0, 0, 0, 0);
}

svg {
  height: 3rem;
  width: 3rem;
  stroke-width: 7px;
  margin: auto 2px;
  padding: 5px;
  border-radius: 12px;
  border: solid 5px var(--icon-rgb);

  fill: var(--icon-rgb);
  stroke: var(--icon-rgb);
}

.Header {
  width: 100vw;
  height: 7em;

  display: flex;
  justify-content: center;
  align-content: center;

  margin: 0;
  margin-top: 1.5em;
}

.header-background {
  position: absolute;
  background-color: var(--color-1);
  width: 100%;
  height: 7em;
  z-index: -1;

  display: flex;
  align-content: center;
  justify-content: center;
}
.header-content {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

.disabled-background {
  display: flex;
  justify-content: center;
  align-content: center;
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 10;
  background: repeating-linear-gradient(
    45deg,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 30px,
    rgba(0, 0, 0, 0.3) 30px,
    rgba(0, 0, 0, 0.3) 60px
  );
}

.HowToPlay {
  max-height: 90vh;
  width: 60vw;
  margin: auto;
  padding: 1em;
  margin-top: 5vh;

  background: white;
  border-radius: 12px;
  border: 2px lightgrey solid;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 3px 8px;

  -webkit-animation: fadeInSlide 0.2s;
  animation: fadeInSlide 0.2s;
}

.HowToPlay > p {
  margin: auto;
  width: 70ch;
  padding: 5px;
}

.HowToPlay > button {
  margin: 1em auto;
}

.title {
  display: inline;
  white-space: nowrap;
  border-bottom: solid 5px var(--color-2);
  padding: 0 10px;
  cursor: default;
}

.title > div {
  color: var(--color-3);
  font-size: 35px;
}

.title-container {
  background: white;
  padding: 30px;
  margin: auto 15px;
  transform: rotate(-10deg);
  border: 2px solid var(--color-1);
  border-radius: 5px;
}

.background-wing::before {
  position: absolute;
  height: 150%;
  width: 600px;
  background: var(--color-2);
  content: ' ';
  top: 0;
  left: 0;
  z-index: -2;
  overflow: hidden;

  transform: rotate(10deg) translate(-400px, -100px);
}

.background-wing::after {
  position: absolute;
  height: 150%;
  width: 600px;
  background: var(--color-3);
  content: ' ';
  top: 0;
  right: 0;
  z-index: -2;
  overflow: hidden;

  transform: rotate(-10deg) translate(400px, -100px);
}

.Controls {
  height: 100%;
  display: flex;
  align-content: center;
}

.Controls > button {
  margin: auto 5px;
}

button,
input[type='submit'],
input[type='text'] {
  margin: 10px 5px;
  padding: 10px;
  background-color: white;
  border-radius: 5px;
  border: 2px lightgrey solid;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 3px 8px;
  transition: 0.1s;
  font-family: var(--main-font);
  font-size: 16px;

  cursor: pointer;
}

form {
  padding: 10px;
}

button:hover,
input[type='submit']:hover {
  transform: rotate(3deg);
}

@keyframes fadeInSlide {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@-webkit-keyframes fadeInSlide {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes rotateOut {
  0% {
    transform-origin: center center;
    transform: rotate(0);
    opacity: 1;
  }
  100% {
    transform-origin: center center;
    transform: rotate(200deg);
    opacity: 0;
  }
}

.AllExamplesContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
}

.ExamplesContainer {
  display: flex;
  flex-direction: row;
  margin: auto 5px;
  justify-content: center;
  max-width: 600%;
}

.ExampleCard {
  display: flex;
  justify-content: center;
  align-content: center;

  margin: 0.5em;
  padding: 0.25em;

  transition: 0.1s;

  background: white;
  border-radius: 5px;
  border: 2px lightgrey solid;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 3px 8px;

  -webkit-animation: fadeInSlide 0.2s;
  animation: fadeInSlide 0.2s;
}

.example-icon {
  height: 20px;
  width: 20px;

  border-width: 2px;
  border-radius: 5px;

  stroke-width: 25px;
}

.EmployeeInfo {
  background: white;
  display: flex;
  flex-direction: row;
  margin: auto 10px;
  padding: 5px;
  border-radius: 5px;
  border: 2px lightgrey solid;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 3px 8px;
  font-size: 16px;
}

.EmployeeInfo > div {
  display: flex;
  flex-direction: row;
  margin: auto 5px;
}

.EmployeeInfo > div > * {
  margin: auto 5px;
  cursor: default;
}

.EmployeeInfo > div > * {
  margin: auto 5px;
}

.color-1 {
  color: var(--color-1);
}

.color-2 {
  color: var(--color-2);
}

.color-3 {
  color: var(--color-3);
}

@media only screen and (max-width: 1200px) {
  button,
  p {
    font-size: 12px;
  }

  .SetCard {
    width: 12em;
    height: 8em;
  }

  svg {
    height: 2em;
    width: 2em;
    border-width: 3px;
    border-radius: 7px;
  }
}

.Attribution {
  bottom: 0;
  width: 100%;
  position: absolute;
  color: grey;
  margin: 10px;
}

.Attribution > a {
  color: grey;
}

a:visited {
  color: grey;
}

.menu-card > button {
  margin: 10px;
}

.PublicGames {
  display: block;
  margin: 30px auto;
  overflow-y: scroll;
  overflow-x: visible;
  height: 100%;
  max-height: 250px;
}

tbody {
  border: none;
  border: 2px lightgrey solid;
  margin: auto;
}

thead {
  color: var(--color-3);
}

tr:nth-of-type(even) {
  background: lightgrey;
}

td:nth-of-type(3) {
  width: 100%;
}

td {
  padding: 5px 30px;
}

td > button {
  font-size: 14px;
  padding: 5px 10px;
  white-space: nowrap;
}

.status-waiting {
  color: var(--color-1);
}

.status-playing {
  color: var(--color-2);
}

.LobbyKeyCode > h1 {
  color: var(--color-3);
}

.UserIcon {
  margin: auto;
}

.user-icon-name {
  padding: 0px;
  margin: 0 auto;
}

.UserSetup {
  padding: 20px;
}

.UserSetup > .UserIcon > svg {
  height: 6rem;
  width: 6rem;
  stroke-width: 10px;
  padding: 0px;
}

.PickIcon {
  max-width: 350px;
  margin: 20px auto;
}

.PickColor {
  max-width: 350px;
  margin: auto;
}

.PickUsername {
  display: flex;
  flex-direction: column;
}

input[type='text'] {
  border-color: var(--color-1);
}

.lobby-card {
  display: flex;
  flex-direction: column;
  width: 25ch;
  margin: 0 20px;
  padding: 20px;
}

.card {
  background: white;
  border-radius: 12px;
  border: 2px lightgrey solid;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 3px 8px;
}

.GameLobby {
  display: flex;
  flex-direction: row;
}

input[type='text'] {
  margin: 10px;
}

.players-display {
  max-width: 50ch;
  max-height: 200px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-y: auto;
}

.MainMenu {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  padding-top: 30px;
}

.menu-card {
  display: flex;
  flex-direction: column;
  width: 20ch;
  padding: 4em 2em;
  margin: 0 10px;
  border-width: 5px;

  display: flex;
  justify-content: flex-start;
}

.menu-card:nth-of-type(1) {
  border-color: var(--color-3);
}

.menu-card:nth-of-type(2) {
  border-color: var(--color-1);
}

.menu-card:nth-of-type(3) {
  border-color: var(--color-2);
}

hr {
  width: 100%;
  height: 5px;
  border: none;
  background: grey;
}

.JoinGame {
  background: white;
  padding: 2em 4em;
  max-width: 50%;
  margin: auto;
  margin-top: 30px;
}

.AlertBar {
  position: fixed;
  width: 100%;
  height: 1.5em;
}

.alert-message {
  color: grey;
  z-index: 10;
  opacity: 0;

  -webkit-transform: translateY(-1000);
  -moz-transform: translateY(-1000);
  -o-transform: translateY(-1000);
  transform: translateY(-1000);

  -webkit-animation: alertAnimation ease-in-out 6s;
  -moz-animation: alertAnimation ease-in-out 6s;
  -o-animation: alertAnimation ease-in-out 6s;
  animation: alertAnimation ease-in-out 6s;
}

@keyframes alertAnimation {
  0% {
    opacity: 0;
    transform: translateY(-100);
  }

  50% {
    opacity: 1;
    transform: translateY(0);
  }
  80% {
    opacity: 1;
    transform: translateY(10);
  }

  100% {
    opacity: 0;
    transform: translateY(100);
  }
}
@-o-keyframes alertAnimation {
  0% {
    opacity: 0;
    -o-transform: translateY(-100);
  }

  50% {
    opacity: 1;
    -o-transform: translateY(0);
  }
  80% {
    opacity: 1;
    -o-transform: translateY(10);
  }

  100% {
    opacity: 0;
    -o-ttransform: translateY(100);
  }
}
@-moz-keyframes alertAnimation {
  0% {
    opacity: 0;
    -moz-transform: translateY(-100);
  }

  50% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
  80% {
    opacity: 1;
    -moz-transform: translateY(10);
  }

  100% {
    opacity: 0;
    -moz-transform: translateY(100);
  }
}
@-webkit-keyframes alertAnimation {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100);
  }

  50% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
  80% {
    opacity: 1;
    -webkit-transform: translateY(10);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(100);
  }
}

.CreateNewGame > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px;
}
