@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

:root {
  --color-1: rgb(22, 218, 146);
  --color-2: rgb(233, 63, 111);
  --color-3: rgb(34, 117, 165);

  --background-color-1: rgba(22, 219, 147, 0.3);
  --background-color-2: rgba(233, 63, 111, 0.3);
  --background-color-3: rgba(34, 116, 165, 0.3);

  --main-font: 'Fredoka One', cursive;
}

.App {
  font-family: var(--main-font);
  text-align: center;
  max-height: 100%;
  max-width: 100%;
  height: 100vh;
  width: 100vw;

  position: fixed;

  overflow: hidden;
}

.GameBoard {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  max-width: 1500px;
  max-height: 100%;

  margin: auto;
}

.SetCard {
  display: flex;
  justify-content: center;
  align-content: center;

  margin: 1em;

  border-radius: 12px;
  border: 2px lightgrey solid;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 3px 8px;
  transition: 0.1s;

  width: 16em;
  height: 10em;

  max-width: 1500px;

  background: white;

  -webkit-animation: fadeInSlide 0.2s;
  animation: fadeInSlide 0.2s;
}

.spinOut {
  -webkit-animation: spinOut 0.5s;
  animation: spinOut 0.5s;
}

.SetCard:hover {
  transform: scale(1.1) rotate(3deg);
  box-shadow: var(--icon-rgb) 0px 3px 10px;
  transition: 0.1s;
  cursor: pointer;
}

.selected {
  box-shadow: var(--icon-rgb) 0px 3px 10px;
  border: solid var(--icon-rgb) 2px;
  transform: scale(1.1) rotate(3deg);
  transition: 0.1s;
}

.color-1 {
  --icon-rgb: var(--color-1);
  --icon-rgba: var(--background-color-1);
}

.color-2 {
  --icon-rgb: var(--color-2);
  --icon-rgba: var(--background-color-2);
}

.color-3 {
  --icon-rgb: var(--color-3);
  --icon-rgba: var(--background-color-3);
}

.fill-1 {
  background: var(--icon-rgba);
}

.fill-2 {
  background: repeating-linear-gradient(
    45deg,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0) 10px,
    var(--icon-rgba) 10px,
    var(--icon-rgba) 15px
  );
}

.fill-3 {
  background: rgba(0, 0, 0, 0);
}

svg {
  height: 3rem;
  width: 3rem;
  stroke-width: 7px;
  margin: auto 2px;
  padding: 5px;
  border-radius: 12px;
  border: solid 5px var(--icon-rgb);

  fill: var(--icon-rgb);
  stroke: var(--icon-rgb);
}

.Header {
  width: 100vw;
  height: 7em;

  display: flex;
  justify-content: center;
  align-content: center;

  margin: 1.2em 0;
}

.header-background {
  position: absolute;
  background-color: var(--color-1);
  width: 100%;
  height: 7em;
  z-index: -1;

  display: flex;
  align-content: center;
  justify-content: center;
}
.header-content {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

.HowToPlayContainer {
  display: flex;
  justify-content: center;
  align-content: center;
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 10;
  background: repeating-linear-gradient(
    45deg,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 30px,
    rgba(0, 0, 0, 0.3) 30px,
    rgba(0, 0, 0, 0.3) 60px
  );
}

.HowToPlay {
  max-height: 90vh;
  width: 60vw;
  margin: auto;
  padding: 1em;
  margin-top: 5vh;

  background: white;
  border-radius: 12px;
  border: 2px lightgrey solid;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 3px 8px;

  -webkit-animation: fadeInSlide 0.2s;
  animation: fadeInSlide 0.2s;
}

.HowToPlay > p {
  margin: auto;
  width: 50ch;
  padding: 5px;
}

.HowToPlay > button {
  margin: 1em auto;
}

.title {
  display: inline;
  white-space: nowrap;
  border-bottom: solid 5px var(--color-2);
  padding: 0 10px;
  cursor: default;
}

.title > div {
  color: var(--color-3);
  font-size: 35px;
}

.title-container {
  background: white;
  padding: 30px;
  margin: auto 15px;
  transform: rotate(-10deg);
  border: 2px solid var(--color-1);
  border-radius: 5px;
}

.background-wing::before {
  position: absolute;
  height: 150%;
  width: 600px;
  background: var(--color-2);
  content: ' ';
  top: 0;
  left: 0;
  z-index: -2;
  overflow: hidden;

  transform: rotate(10deg) translate(-400px, -100px);
}

.background-wing::after {
  position: absolute;
  height: 150%;
  width: 600px;
  background: var(--color-3);
  content: ' ';
  top: 0;
  right: 0;
  z-index: -2;
  overflow: hidden;

  transform: rotate(-10deg) translate(400px, -100px);
}

.Controls {
  height: 100%;
  display: flex;
  align-content: center;
}

button {
  margin: auto 5px;
  padding: 10px;
  background-color: white;
  border-radius: 5px;
  border: 2px lightgrey solid;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 3px 8px;
  transition: 0.1s;
  font-family: var(--main-font);
  font-size: 16px;

  cursor: pointer;
}

button:hover {
  transform: rotate(3deg);
}

@keyframes fadeInSlide {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@-webkit-keyframes fadeInSlide {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes rotateOut {
  0% {
    transform-origin: center center;
    transform: rotate(0);
    opacity: 1;
  }
  100% {
    transform-origin: center center;
    transform: rotate(200deg);
    opacity: 0;
  }
}

.AllExamplesContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
}

.ExamplesContainer {
  display: flex;
  flex-direction: row;
  margin: auto 5px;
  justify-content: center;
  max-width: 600%;
}

.ExampleCard {
  display: flex;
  justify-content: center;
  align-content: center;

  margin: 0.5em;
  padding: 0.25em;

  transition: 0.1s;

  background: white;
  border-radius: 5px;
  border: 2px lightgrey solid;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 3px 8px;

  -webkit-animation: fadeInSlide 0.2s;
  animation: fadeInSlide 0.2s;
}

.example-icon {
  height: 20px;
  width: 20px;

  border-width: 2px;
  border-radius: 5px;

  stroke-width: 25px;
}

.EmployeeInfo {
  background: white;
  display: flex;
  flex-direction: row;
  margin: auto 10px;
  padding: 5px;
  border-radius: 5px;
  border: 2px lightgrey solid;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 3px 8px;
  font-size: 16px;
}

.EmployeeInfo > div {
  display: flex;
  flex-direction: row;
  margin: auto 5px;
}

.EmployeeInfo > div > * {
  margin: auto 5px;
  cursor: default;
}

.EmployeeInfo > div > * {
  margin: auto 5px;
}

.color-1 {
  color: var(--color-1);
}

.color-2 {
  color: var(--color-2);
}

.color-3 {
  color: var(--color-3);
}

@media only screen and (max-width: 1200px) {
  button,
  p {
    font-size: 12px;
  }

  .SetCard {
    width: 12em;
    height: 8em;
  }

  svg {
    height: 2em;
    width: 2em;
    border-width: 3px;
    border-radius: 7px;
  }
}
